@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Titillium+Web:wght@300&display=swap");

.main {
  background-image: url("/telalogin/public/BackgroundLogin.svg");
}

.main img {
  position: absolute;
  z-index: -1;
}

.logo p {
  color: white;
  z-index: -1;
  font-family: "Inter";
  position: absolute;
  width: 550px;
  height: 74px;
  left: 145px;
  top: 160px;
}

.logo img {
  position: absolute;
  width: 555px;
  height: 75px;
  left: 134px;
  top: 50px;
}

.login {
  position:fixed;
  height: 276px;
  left: 134px;
  top: 260px;
}

.login p {
  font-family: "Titillium Web";
  color: white;
  font-size: 12px;
}

.login h1 {
  color: white;
  font-family: "Inter";
  margin-bottom: 30px;
}

.login input{
  box-sizing: border-box;
  gap: 10px;
  height: 35px;
  width: 300px;
  padding: 0;
  border: none;
  border-radius: 5px;
  text-indent: 5px;
  outline: 0;
}

.password{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
}

.checkbox{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.checkbox input{
  width: 20px;
  margin-right: 5px;
}

.button button{
  background: linear-gradient(91.95deg, #6633CC 4.33%, #00CC99 149.49%);
  border-radius: 100px;
  padding: 12px 48px;
  gap: 8px;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  width: 300px;
height: 40px;
padding: 0,30px,0,30px;

}



.button:hover {
  transform: scale(1.1);
  border-radius: 100px;
  
}
.button { 
  transition: all .2s ease-in-out; 
  }
  